name: dist-ubuntu-22.04

permissions:
  contents: write

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: ${{ matrix.os }} / GHC ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    steps:
      - run: ghcup rm ghc 9.12.2
      - run: ghcup rm ghc 9.10.3
      - run: du -hs /usr/local/.ghcup
      - run: ghcup list
      - run: sudo apt-get install libncurses5
      - run: ghcup install ghc ${{ matrix.ghc }} --set
      - run: ghc --version
      - run: cabal update
      - run: cabal install --package-env=. --lib hspec
      - uses: actions/checkout@v4
      - name: publish
        run: |
          dst=ghc-${{ matrix.ghc }}-$RUNNER_OS-$ImageOS-$RUNNER_ARCH.tar.gz
          tar -czpf "$dst" /usr/local/.ghcup /home/runner/.local/state/cabal/store
          gh release create nightly --prerelease || (git tag nightly -f && git push --tags -f)
          gh release upload nightly "$dst" --clobber
        # if: github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{ github.token }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
        ghc:
          - 8.0.2
