name: dist-macos-latest

permissions:
  contents: write

on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    name: ${{ matrix.os }} / GHC ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    steps:
      - run: env
      - run: brew install ghcup
      - run: ghcup install ghc ${{ matrix.ghc }} --set
      - run: ghcup install cabal
      - run: echo "$HOME/.ghcup/bin" >> "$GITHUB_PATH"
      - run: ghc --version
      - run: df -h
      - run: which ghc
      - run: which cabal
      - run: which ghcup

      - run: pwd
      - run: cabal update
      - run: cabal install --package-env=. --lib hspec
      - run: du -hs ~/.local/state/cabal
      - run: echo $HOME

      - uses: actions/checkout@v4
      - name: publish binaries
        run: |
          dst=dist-$RUNNER_OS-$ImageOS-$RUNNER_ARCH-ghc-${{ matrix.ghc }}.tar.gz
          tar -czpf "$dst" ~/.ghcup ~/.local/state/cabal/store
          gh release create nightly --prerelease || (git tag nightly -f && git push --tags -f)
          gh release upload nightly "$dst" --clobber
        # if: github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{ github.token }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
        ghc:
          - 9.12.2
