name: selftest ubuntu-24.04
on:
  workflow_dispatch: null
  push:
    branches:
      - fast
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: du -hs /usr/local/.ghcup/bin/ghc
      - run: ghcup install ghc 9.10.1 --set
      - run: cabal update
      - run: ghc --version
      - run: which ghc
      - run: which cabal
      - run: which ghcup
      - run: du -hs /usr/local/.ghcup/bin/ghc

      - name: publish binaries
        run: |
          dst=dist-$RUNNER_OS-$RUNNER_ARCH.tar.gz
          tar -czf "$dst" -C /usr/local/ .ghcup
          gh release create nightly --prerelease || (git tag nightly -f && git push --tags -f)
          gh release upload nightly "$dst" --clobber
        # if: github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{ github.token }}
