name: selftest ubuntu-24.04
on:
  workflow_dispatch: null
  push:
    branches:
      - fast
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: du -hs /usr/local/.ghcup/bin/ghc
      - run: ghcup install ghc 9.10.1 --set
      - run: cabal update
      - run: ghc --version
      - run: which ghc
      - run: which cabal
      - run: which ghcup
      - run: du -hs /usr/local/.ghcup/bin/ghc
