name: selftest ubuntu-24.04

permissions:
  contents: write

on:
  workflow_dispatch: null
  push:
    branches:
      - fast
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: ghcup list
      - run: ghcup rm ghc 9.12.2
      - run: ghcup rm ghc 9.10.3
      - run: ghcup list
      - run: du -hs /usr/local/.ghcup
      - run: ghcup install ghc 9.10.1 --set
      - run: ghc --version
      - run: which ghc
      - run: which cabal
      - run: which ghcup
      - run: du -hs /usr/local/.ghcup
      - run: du -hs /usr/local/.ghcup/*
      - run: du -hs /usr/local/.ghcup/ghc/9.10.1/*

      - run: pwd
      - run: cabal update
      - run: cabal install --package-env=. --lib hspec
      - run: du -hs ~/.local/state/cabal

      - run: echo $HOME

      - uses: actions/checkout@v4
      - name: publish binaries
        run: |
          dst=dist-$RUNNER_OS-$RUNNER_ARCH.tar.gz
          tar -czf "$dst" /usr/local/.ghcup /home/runner/.local/state/cabal
          ls -hl "$dst"
          gh release create nightly --prerelease || (git tag nightly -f && git push --tags -f)
          gh release upload nightly "$dst" --clobber
        # if: github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{ github.token }}
